<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>
H5网站：
描述：H5网站，承载商品销售业务，涉及虚拟商品和实物商品的销售
1云商盟商城首页
描述：聚合各个商家热销商品，前期通过配置化展示在聚合页中
前台聚合页商品展示
配置化展示（依赖后台配置功能）
2店铺首页
首页配置化展示
店铺分享功能
3商品列表页
3.1 商品排序
3.1.1 销量
3.1.2 人气
3.2 商品搜索
使用es搜索引擎服务
4商品单品展示页
4.1商品信息展示
4.2图片展示 
4.3库存量展示
4.4商品分享功能
4.5推荐信息展示（通过大数据接口分析出用户推荐信息）
5购买
5.1订单信息填写
5.2 订单提交
6订单查询
6.1订单页：展示订单信息
6.2个人信息维护：配送信息维护
6.3未支付订单继续支付
后台管理系统：
订单模块：
描述：订单商品涉及三种：1 自有商品2 异业商品 （商户自有商品）3供应商商品（资源池中的商品）
仓储系统可通过后台查看订单信息，操作订单备货信息，配送信息
（仅支持自有商品备货，配送）
1、订单管理
1.1订单按时间查询
1.2订单类型查询
1.3订单号查询
1.4详细信息展示
1.5订单取消
2、备货管理
2.1 备货单查询
2.2 实物商品串号导入——》终端管理系统串号的保存 出库等
2.3 备货确认
3、支付单一览
3.1 支付单查询
3.2 支付单退款
3.3 退款审核
4、配送单一览
4.1 配送单查询
4.2 配送单详情
 4.3实时物流信息展示 ——》仓储系统接口获取实时物流信息

商品模块：
商品表属性：
商品信息
是否上线（0待审批 1审批通过 2上线 3下线 ）注：审批和待审批针对异业商品
商品等级（对应资源池商品等级 对应店铺等级）
商品所属店铺

商品类型
描述：商品涉及三种（1自有商品2异业商品3供应商商品）

1、商品配置
1.1商户异业商品配置
描述：商品由店铺自行配置本店铺商品，展示在自己的店铺商品列表中，物流由店铺自己联系配送
1.1.1商品标签配置
1.1.2价格配置
1.1.3库存配置
1.1.4详情描述
1.1.5商品分类
1.1.6配置商品图片
1.2资源池商品配置
描述：资源池商品由供应商（例如：京东）提供，管理员负责导入到资源池系统
1.2.1供应商商品配置
1.2.2商品标签配置
1.2.3价格配置
1.2.4库存配置
1.2.5 商户可选最大库存配置
1.2.6详情描述
1.2.7商品分类
1.2.8配置商品图片
1.2.9商品等级配置（指定店铺等级可销售）

1.3自有商品信息配置
描述：商品归属于北京移动资产，库存等信息从终端系统接口获取，因为商品存在于终端系统，所以需要根据终端系统商品编号来调用借口配置，商品配置过程中涉及商品编号映射（例如：商品在终端系统编号为123，需要映射为云商盟商品编号456），物流走北京移动自建物流，

1.3.1终端产品配置
1.3.1商品标签配置
1.3.2价格配置
1.3.3库存配置
1.3.4详情描述
1.3.5商品分类
1.3.6配置商品图片


2、商品信息查询
描述：根据登陆商铺信息可查询展示自己店铺的商品，管理员可查全部商品
2．1 根据商品名称模糊查询
2．2 商品信息单品展示
2．3 商品信息列表展示
2．4 商品分配查询
2．5 商品配置预览

3、资源池商品分配
描述： 资源池中商品所有商户可见，根据商品配置的等级，商户可以按照自己店铺的等级自选商品，或者由移动管理员分配商品到指定店铺
3.1 按等级资源自选
3.2 管理员资源分配
 
店铺模块	
1店铺管理
云商盟首页商品配置
店铺首页商品配置
店铺创建
店铺开启关闭
店铺等级配置
店铺黑名单管理
店铺经纬度配置
2店铺装修功能
H5店铺页面后台配置
店铺信息配置
店铺宣传图片配置
配置店铺首页预览
3商品管理
异业商品审核
4供应商管理
供应商审核
5店铺酬金统计
描述：通过渠道接口获取统计信息
            </li>
        </ul>
    </div>
</div>
</body>
</html>